<!-- Product filter section de Divisima -->
<section class="product-filter-section">
    <div class="container">
      <div class="section-title">
        <h2>ENCUENTRA TU REPUESTO</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/5.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs35,00</h6>
              <p>PISTON </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
               <img src="assets/img/product/6.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs65,00</h6>
              <p>EMPAQUETADURAS </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/7.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
                
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs50,00</h6>
              <p>CORREAS DE DISTRIBUCIÓN</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/8.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
                
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs115,00</h6>
              <p>BIELAS </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/9.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs220,00</h6>
              <p>CULATAS, CIGUEÑALES, BLOCK DE CILINDROS </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/10.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs58,00</h6>
              <p>BOMBAS DE GASOLINA</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/11.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs36,00</h6>
              <p>BOMBA ACEITE-TAPA BOMBA-ENGRANAJES </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="product-item">
            <div class="pi-pic">
              <img src="assets/img/product/12.jpg" alt=""><a href="/">LeerMas....</a>
              <div class="pi-links">
                <a href="#" class="add-card"><i class="fas fa-cart-plus"></i><span>ADD TO CART</span></a>
              
              </div>
            </div>
            <div class="pi-text">
              <h6>Bs128,00</h6>
              <p>VOLANTE DE INERCIA-CERCHA </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product filter section end -->



<!-- HOT DEAL SECTION  sacado de electro master para las ofertas-->
<div id="hot-deal" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Days</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Hours</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Mins</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Secs</span>
              </div>
            </li>
          </ul>
          <h1 class="text-uppercase" style=color:#058585> 15% OFF</h1>
          <p style=color:#f7f7f7>En todos los repuestos del sistema de frenos</p>
          <a class="primary-btn cta-btn" href="#">Shop now</a>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->


<!--Sacado de urkoporfolio PARA LAS MARCAS DE LOS VEHICULOS-->
<section class="ae-container-fluid rk-main">  
  <div class="section-title">
      <h2>ENCUENTRA TU VEHICULO</h2>
    </div>
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-1.jpg" alt="">
      <div class="item-meta">
        <h2>VOLVO</h2>
        <p> fábrica de automóviles sueca con sede en Torslanda, Gotemburgo, subsidiaria de la compañía automotriz china Geely</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-2.jpg" alt="">
      <div class="item-meta">
        <h2>TOYOTA</h2>
          <p> Empresa multinacional japonesa líder mundial en la producción y venta de automóviles, por ser la más exitosa y respetada por su calidad y procesos claramente establecidos.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-3.jpg" alt="">
      <div class="item-meta">
        <h2>MAZDA</h2>
        <p>La marca automotriz japonesa se ha destacado por innovar en materia tecnológica con hitos, como el desarrollo comercial del primer motor rotativo, el motor de ciclo Miller o las cuatro ruedas motrices y directrices.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-4.jpg" alt="">
      <div class="item-meta">
        <h2>VOLKSWAGEN</h2>
            <p>Volkswagen es la marca original y más vendida del Grupo Volkswagen, el mayor fabricante de automóviles alemán y el segundo mayor fabricante de automóviles del mundo.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-5.jpg" alt="">
      <div class="item-meta">
        <h2>BMW</h2>
            <p> Fabricante alemán de automóviles de gama alta y motocicletas, cuya sede se encuentra en Múnich.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-6.jpg" alt="">
      <div class="item-meta">
        <h2>MERCEDES BENZ</h2>
        <p>Empresa alemana fabricante de vehículos de lujo, división de la compañía Daimler AG/p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-7.jpg" alt="">
      <div class="item-meta">
        <h2>NISSAN</h2>
        <p>Fabricante japonés de automóviles, con base en Yokohama. Su nombre común, Nissan, es un acrónimo de "Nippon Sangyo" (en japonés significa "industria japonesa"). </p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-8.jpg" alt="">
      <div class="item-meta">
        <h2>AUDI</h2>
        <p>Empresa multinacional alemana fabricante de automóviles de alta gama, lujo y deportivos. Su sede central se encuentra en Ingolstadt, Baviera </p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-9.jpg" alt="">
      <div class="item-meta">
        <h2>FORD</h2>
        <p>Empresa multinacional estadounidense fabricante de automóviles con sede en Dearborn,</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-10.jpg" alt="">
      <div class="item-meta">
        <h2>HONDA</h2>
        <p> Empresa de origen japonés que fabrica automóviles, propulsores para vehículos terrestres, acuáticos y aéreos, motocicletas, robots y componentes para la industria automotriz.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-11.jpg" alt="">
      <div class="item-meta">
        <h2>SUZUKI</h2>
        <p>Empresa japonesa dedicada a la fabricación de automóviles, motocicletas, motores fuera borda, y una gran variedad de productos equipados con pequeños motores de combustión.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-12.jpg" alt="">
      <div class="item-meta">
        <h2>SUBARU</h2>
        <p>Fabricante de automóviles japonés, y es subsidiaria de la compañía Fuji Heavy Industries (FHI)</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-13.jpg" alt="">
      <div class="item-meta">
        <h2>FIAT</h2>
        <p>Informalmente Grupo Fiat, es uno de los mayores grupos industriales y automovilísticos de Europa y el mayor de Italia.</p>
      </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-14.jpg" alt="">
        <div class="item-meta">
          <h2>FIAT</h2>
          <p>Informalmente Grupo Fiat, es uno de los mayores grupos industriales y automovilísticos de Europa y el mayor de Italia.</p>
        </div></a><a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/assets1/img/project-15.jpg" alt="">
          <div class="item-meta">
              <h2>FIAT</h2>
              <p>Informalmente Grupo Fiat, es uno de los mayores grupos industriales y automovilísticos de Europa y el mayor de Italia.</p>
            </div></a>
  </div>
</section>  
</section> 
<!--Final de urkoporfoli-->


<!-- SECTION sacado de electro master que correspondera a los repuestos mas comprados-->

  <!-- /SECTION -->
