<!-- Header section -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="./index.html" class="site-logo">
            <img src="assets/img/logo.png" alt="">
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Buscar ...">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <a href="#">IniciaSesion</a> o <a routerLink='user/registro'>Crea una cuenta</a>
            </div>
            <div class="up-item">
              <div class="shopping-card">
                  <i class="fas fa-cart-plus"></i>
               </div>
              <a href="#">AñadirProductos</a>
            </div>
          </div>
           </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a routerLink="">Home</a></li>
        <li> <a routerLink="/store" class="sidenav-close">Tienda</a></li>
        <li><a href="/catalog">Catalogo</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- Header section end -->