<div class="container"> 
  <div class="row">
    <div *ngFor="let product of products$ | async" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img [src]="product.image">
          
        </div>
        <span class="card-title">{{product.name}}</span>
        <div class="card-content">
          <p>precio: {{product.price}}</p>
          <p>{{product.description}}</p>
          <p>Fabricante: {{product.maker}}</p>
        </div>
        <div class="card-action">
          <a href="#">Comprar</a>
        </div>
      </div>
    </div>
  </div>
